{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "last 2 versions"
        },
        "loose": true,
        "modules": "commonjs"
      }
    ],
    ["stage-1"],
    "react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "components": "./lib"
        },
        "extensions": [".js", ".jsx", ".es", ".es6", ".mjs"]
      }
    ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
